#Discord
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
ADMIN_ROLE_ID=

#Channels
BOT_COMMANDS_CHANNEL_ID=
ADMIN_CHAT_CHANNEL_ID=
CHAT_BRIDGE_CHANNEL_ID=

#RCON
RCON_HOST=
RCON_PORT=
RCON_PASSWORD=

#SFTP
SFTP_HOST=
SFTP_PORT=
SFTP_USERNAME=
SFTP_PASSWORD= 
SFTP_LOG_PATH=/logs/latest.log
DEBUG_SFTP=false

#Server Info
SERVER_SUBDOMAIN=
MODPACK_NAME=
SERVER_IP=
SERVER_PORT=

#Polling
LOG_POLL_INTERVAL_MS=2000
TPS_COOLDOWN_MS=30000